@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
}

@layer base {
  :root {
    --primary: #53b6e0;
    --primary-hover: #9bddff;
    --primary-foreground: #ffffff;
    
    --background: #F1FAFF;
    --surface: #F8FDFF;
    --surface-hover: #E3F5FF;
    --border: #ccf6ff;
    --text: #111033;
    --text-muted: #64748b;
  }

  .dark {
    --primary: #53b6e0;
    --primary-hover: #9bddff;
    --primary-foreground: #ffffff;
    
    --background: #01001a;
    --surface: #0d0c27;
    --surface-hover: #111033;
    --border: #1c1b48;
    --text: #e5fbff;
    --text-muted: #94a3b8;
  }

  /* Global scrollbar styling */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-muted);
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-muted);
  }
}

